.main>.container{
 text-align:center;
 padding-top:10px;
}
.main>.container>.btns{
  margin-top:50px;
  margin-bottom:30px;
}
.main>.container>.btns a{
  margin-right:20px;
  padding: 10px;
  border-radius: 5px;
  color:black;
  background-color:#E6E6E6;
}

.main>.container>.introduce{
  width:50%;
  height:860px;
  margin: 30px auto 125px auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;

}
.main>.container>.introduce>.intro{
  width:300px;
  height:400px;
  margin-right:8px;
  position:relative;
}
.main>.container>.introduce>.intro>.text{
  width:250px;
  height:80px;
  background:#F5F5F5;
  opacity:0.7;
  padding:5px;
  color:black;
  font-size:10px;
  position:absolute;
  left:25px;
  bottom:10px;
}
.main>.container>.introduce>.intro:last-child>div{
  color:red;
  font-size:20px;
  text-align:center;
  padding-top:22px;
}
.main>.container>.introduce>.intro1{
  background-image:url("../img/aboutmeet/bg1.jpg");
  background-size:100% 100%;
}
.main>.container>.introduce>.intro2{
  background-image:url("../img/aboutmeet/bg2.jpg");
  background-size:100% 100%;
}
.main>.container>.introduce>.intro3{
  background-image:url("../img/aboutmeet/bg3.jpg"); 
  background-size:100% 100%;
}
.main>.container>.introduce>.intro4{
  background-image:url("../img/aboutmeet/bg4.jpg");
  background-size:100% 100%;
}

/* a标签点击效果 */
.hidden{
  opacity:0;
}
.show{
  width: 80%;
  margin: 0 auto;
  opacity:1;
  transition:all 2s linear;
}