#header{
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
}
div.header>h6.left{
 padding:0;
 /*margin-top:8px;*/
 font-size: 12px;
 font-weight:normal;
}
table.nav>tbody>tr>td.nav->a{
 font-size:14px;
 color:black;
}
table.nav>tbody>tr>td.nav_top_a>a{
  font-weight: bold;
  font-size: 16px;
}
table.nav>tbody>tr>td.nav->a:hover{
 color:#0aa1ed;
}
div.header>div.right{
 float:right;
}
div.header>div.right>a{
 color:black;

}
div.header>div.right>a:hover{
    color:#0aa1ed;
}
div.header>h6.left{
 float:left;
}
table.nav{
 width:80%;
 height:20px;
 table-layout:fixed;
 margin:0 auto;
 margin-top:35px;
 margin-left:195px;
 text-align:center;
 box-sizing:border-box;
}

table.nav tr:first-child{
 padding-top:60px;
 padding-bottom:0px;
}
table.nav tr:last-child{
 vertical-align:top;
}
#search input{
  border-radius:15px;
  outline:0;
  width:100px; 
  height: 10px;
  border: 1px solid #ccc; 
  padding: 10px;
}
table.nav #search{
  position:relative;
}
table.nav #search img{
  border-radius:15px;
  opacity:0.6;
  position:absolute;
  right:20%;
  top:14px;
}
a:hover{
    color:#0aa1ed;
}

